.banner{
    .container_banner{
        margin: 0 40px;
        height: 490px;
        background: url('/assets/images/top/backgroud_banner.png'), linear-gradient(to bottom, #4ABAEB 0%, #B1E2F7 50%);
        background-size: cover;
        border-radius: 24px;
        position: relative;
        overflow: hidden;
        & > *{
            position: absolute;
        }
        .baloon{
            @include baloon(#FFE344,95%);
            font-size: 20px;
            font-weight: 600;
            font-family: $font_oswald;
            line-height: 140%;
            padding: 8px 16px 11px;
            z-index: 2;
            left: 55px;
            top: 58px;
        }
        strong{
            z-index: 2;
            font-size: 32px;
            font-weight: 900;
            font-family: $font_noto_sans_jp;
            line-height: 140%;
            letter-spacing: 3%;
            color: white;
            left: 55px;
            top: 116px;
        }
        img{
            z-index: 2;
            top: 170px;
            left: 12px;
        }
        .banner_img{
            display: flex;
            z-index: 2;
            left: 55px;
            top: 292px;
            width: 522px;
            justify-content: space-between;
        }
        .banner_people{
            top: 46px;
            width: 688px;
            height: 532px;
            left: 650px;
            z-index: 1;
        }
    }
}