.blog {
    width: 100%;
    padding: 0 40px;

    .container {
        max-width: 1360px;
        background-color: $light_yellow_background_color;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 80px 10px;
        align-items: center;

        .title_block {
            @include title_3_element;
        }

        .button_block {
            @include button_block;
        }

        .content_blog {
            display: flex;
            gap: 24px;
            flex-direction: column;
            max-width: 1120px;

            .post_single {
                display: flex;
                gap: 32px;
                align-items: center;
                border-radius: 16px;

                &:hover {
                    box-shadow: 0 0 10px $orange_color;
                }

                .post_single_left {
                    background-color: $light_grey_color;
                    border-radius: 16px;
                    aspect-ratio: 3/2;
                    flex: 3;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 16px;
                    }
                }

                .post_single_right {
                    flex: 7;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .post_single_right_top {
                        display: flex;
                        gap: 16px;
                        align-items: center;
                        font-family: $font_roboto;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        color: #777777;

                        button {
                            color: $orange_color;
                            border: 1px solid $orange_color;
                            border-radius: 15px;
                            background-color: $light_yellow_background_color;
                            cursor: pointer;
                            padding: 6px 12px;
                            font-family: $font_noto_sans_jp;
                            font-weight: 500;
                            font-size: 11px;
                            line-height: 100%;
                        }

                        button:hover {
                            color: white;
                            background-color: $orange_color;
                        }
                    }

                    .post_single_right_mid {
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 18px;
                        line-height: 170%;
                        color: $orange_color;
                    }

                    .post_single_right_bottom {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 170%;
                        color: #202020;
                        overflow: hidden;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .blog .container .content_blog .post_single {
        flex-direction: column;

        .post_single_left {
            width: 300px;
        }

        .post_single_right {
            .post_single_right_mid {
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
            }
            .post_single_right_bottom{
                -webkit-line-clamp: 1;
            }
        }
    }
}