.button_bubble{
    
    position: fixed;
    right: 1%;
    top: 40%;
    z-index: 100;

    .button_bubble_content{
        display: flex;
        flex-direction: column;
        gap: 8px;
        #button_bubble1{
            @include fast_button($orange_color);
        }
        #button_bubble2{
            @include fast_button($red_color);
        }
    }
}
