.container {
    margin: 0 auto;
    max-width: 1440px;
}

.content_body {
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding-bottom: 120px;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}
@media (max-width: 768px){
    .content_body{
        gap: 48px;
        padding-bottom: 48px;
    }
}