.footer {
    width: 100%;
    .footer_contact {
        width: 100%;
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom, #03202c77), url('/assets/images/top/background_footer.png');
        background-size: cover;
        gap: 24px;

        .contact_slogan {
            display: flex;
            gap: 12px;

            .slogan_button {
                display: flex;
                gap: 12px;
                font-weight: 700;
                line-height: 150%;
                align-items: center;
                button {
                    border-radius: 8px;
                    padding: 0 16px;
                    background-color: white;
                    opacity: 0.8;
                    font-size: 20px;
                    height: 45px;

                    &:hover {
                        opacity: 1;
                    }
                }
                span{
                    font-size: 24px;
                    color: white;
                }
            }
            .slogan_content{
                align-items: center;
                display: flex;
                gap: 4px;
                color: white;
                font-size: 24px;
                font-weight: 700;
                line-height: 150%;
                img{
                    width: 90px;
                    height: 68px;
                }
            }
        }
        .contact_phone{
            display: flex;
            gap: 12px;
            align-items: center;
            .contact_phone_number{
                display: flex;
                align-items: center;
                gap: 4px;
                font-family: $font_roboto;
                color: white;
                font-weight: 700;
                font-size: 60px;
                img{
                    width: 54px;
                    height: 54px;
                }
            }
            .time{
                display: flex;
                flex-direction: column;
                font-size: 12px;
                font-weight: 400;
                line-height: 150%;
                color: white;
            }
        }
        .contact_button{
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            justify-content: center;
            #mail{
                background-color: $orange_color;
            }
            #order{
                background-color: $red_color;
            }
            button{
                width: 450px;
                display: flex;
                border-radius: 99px;
                justify-content: space-between;
                padding: 0 32px;
                align-items: center;
                aspect-ratio: 4.1/1;
                opacity: 0.95;
                &:hover{
                    opacity: 1;
                }
                .img_none{
                    opacity: 0;
                }
                img{
                    filter: brightness(0) saturate(100%) invert(100%);
                    width: 32px;
                    height: 32px;
                }
                .contact_button_mid{
                    display: flex;
                    gap: 8px;
                    padding-right: 16px;
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 150%;
                    color: white;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

    }

    .footer_info {
        background-color: #2C2C2C;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 64px 0;
        .logo_footer_info{
            width: 360px;
            height: 47px;
        }
        .footer_shop{
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            .title_footer_shop{
                display: flex;
                font-family: $font_oswald;
                color: $orange_color;
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
            }
            .content_footer_shop{
                display: flex;
                gap: 48px;
                .shop_footer{
                    display: flex;
                    gap: 12px;
                    flex-direction: column;
                    .shop_footer_info{
                        display: flex;
                        gap: 24px;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 150%;
                        color: white;
                        strong{
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 180%;
                        }
                    }
                    img{
                        width: 100%;
                        aspect-ratio: 4/1;
                    }
                }
            }
        }
        .footer_catalog{
            display: flex;
            justify-content: space-between;
            max-width: 835px;
            width: 100%;
            color: white;
            font-weight: 500;
            font-size: 14px;
            line-height: 250%;
            div{
                display: flex;
                flex-direction: column;
                span{
                    opacity: 0.8;
                    cursor: pointer;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
        .footer_copyright{
            color: #969696;
            font-family: $font_roboto;
            font-weight: 500;
            font-size: 11px;
            line-height: 150%;
            &:hover{
                color: white;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 850px){
    .footer .footer_info .footer_shop .content_footer_shop{
        flex-direction: column;
    }
    
}