.header{
    .container{
        padding: 32px 40px;
        display: flex;
        gap: 32px;
        flex-direction: column;
        .header_top{
            display: flex;
            justify-content: space-between;
            #header_img_logo{
                width: 260px;
                height: 34px;
            }
            .header_info{
                display: flex;
                gap: 12px;
                .header_phone{
                    display: flex;
                    align-items: center;
                    gap: 4px;
                    color: $orange_color;
                    font-size: 36px;
                    font-weight: 700;
                    font-family: $font_roboto;
                    img{
                        width: 32px;
                        height: 32px;
                    }
                }
                .header_info_content{
                    font-weight: 400;
                    font-size: 11px;
                    font-family: $font_noto_sans_jp;
                    line-height: 150%;
                }
            }
        }
        .header_nav{
            
            ul{
                padding: 0 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                li{
                    font-family: $font_noto_sans_jp;
                    font-size: 15px;
                    font-weight: 700;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
