.reason{
    max-width: 1440px;
    padding: 0 40px;
    width: 100%;
    .container{
        background-color: $light_yellow_background_color;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 24px;
        gap: 64px;
        padding: 80px 0;
        .title_block{
            @include title_3_element();
        }
        .reason_content{
            display: flex;
            flex-direction: column;
            gap: 40px;
            max-width: 1120px;
            align-items: center;
            margin: 0 40px;
            .content{
                display: flex;
                gap: 24px;
                .reason_item{
                    display: flex;
                    background-color: white;
                    border-radius: 16px;
                    padding: 48px 24px 32px;
                    gap: 32px;
                    flex-direction: column;
                    position: relative;
                    align-items: center;
                    flex: 1;
                    &:hover{
                        box-shadow: 0 0 10px $orange_color;
                    }
                    .reason_cap{
                        position: absolute;
                        top: -30px;
                        font-size: 48px;
                        font-weight: 500;
                        font-family: $font_oswald;
                        color: $orange_color;
                    }
                    .reason_title{
                        font-weight: 700;
                        font-size: 20px;
                        font-family: $font_noto_sans_jp;
                        line-height: 140%;
                        letter-spacing: 3%;
                        strong{
                            color: $orange_color;
                        }
                    }
                    .reason_item_content{
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        .reason_item_img{
                            width: 100%;
                            aspect-ratio: 3/2;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .reason_item_detail{
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 160%;
                            font-family: $font_noto_sans_jp;
                            
                        }
                    }
                }
            }
            .button_block{
                @include button_block();
            }
        }
    }
}