.showroom_message{
    width: 100%;
    padding: 0 40px;
    .container{
        max-width: 1360px;
        background-color: $light_yellow_background_color;
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        gap: 40px;
        padding: 80px 10px;
        align-items: center;
        .title_block{
            @include title_3_element;
        }
        .button_block{
            @include button_block;
        }
        .content_showroom_message{
            max-width: 1120px;
            display: flex;
            gap: 40px;
            
            .img_showroom_message{
                flex: 4.5;
                background-color: $light_grey_color;
                border-radius: 16px;
                height: fit-content;
                img{
                    width: 100%;
                    aspect-ratio: 3/2;
                    height: 100%;
                    border-radius: 16px;
                }
            }
            .content{
                flex: 5.5;
                display: flex;
                flex-direction: column;
                font-size: 15px;
                font-weight: 400;
                line-height: 180%;
                gap: 16px;
                :nth-child(2){
                    text-align: right;
                }
            }
        }
    }
}
@media (max-width: 1150px){
    
    .content_showroom_message{
        flex-direction: column;
        align-items: center;
        .img_showroom_message{
            width: 480px;
        }
    }
}