.showroom_info {
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        .title_block {
            @include title_3_element;
        }

        .button_block {
            @include button_block;
        }
        .content_showroom{
            display: flex;
            gap: 32px;
            align-items: center;
            width: 100%;
            padding: 0 20px;
            .container_content{
                flex: 1;
                display: flex;
                justify-content: end;
                padding-left: 40px;
                .content{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 180%;
                    max-width: 550px;
                    width: 100%;
                    strong{
                        color: $orange_color;
                    }
                }
            }
            .container_img{
                flex: 1;
                background-color: $light_grey_color;
                border-radius: 24px 0 0 24px;
                aspect-ratio: 3/2;
                
                img{
                    width: 100%;
                    border-radius: 24px 0 0 24px;
                    height: 100%;
                }
            }
        }
        .shop{
            display: flex;
            gap: 24px;
            max-width: 1200px;
            width: 100%;
            padding: 0 40px;
            .shop_item{
                background-color: $light_yellow_background_color;
                border-radius: 24px;
                padding: 24px;
                gap: 24px;
                display: flex;
                flex: 1;
                max-width: 550px;
                .shop_img{
                    border-radius: 16px;
                    background-color: $light_grey_color;
                    flex: 1;
                    aspect-ratio: 3/2;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 16px;
                    }
                }
                .shop_info{
                    flex: 1;
                    display: flex;
                    gap: 8px;
                    flex-direction: column;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 150%;
                    .shop_name{
                        line-height: 180%;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .shop_detail{
                        display: flex;
                        flex-direction: column;
                    }
                    .shop_map{
                        display: flex;
                        color: $orange_color;
                        text-decoration: underline;
                        align-items: center;
                        gap: 4px;
                        &:hover{
                            font-weight: 700;
                        }
                        img{
                            width: 12px;
                            height: 12px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1050px){
    .showroom_info{
        .container{
            .shop{
                flex-direction: column;
                align-items: center;
                .shop_item{
                    .shop_img{
                        width: 236px;
                    }
                }
            }
        }
    }
}
@media (max-width: 900px){
    .showroom_info{
        .container{
            .content_showroom{
                flex-direction: column;
                .container_content{
                    padding-left: 0;
                }
                .container_img{
                    order: -1;
                    width: 100%;
                    max-width: 335px;
                    border-radius: 24px;
                    img{
                        border-radius: 24px;
                    }
                }
            }
        }
    }
}