.staff {
    width: 100%;

    .container {
        padding: 0 40px;
        display: flex;
        gap: 40px;
        flex-direction: column;
        align-items: center;

        .title_block {
            @include title_3_element;
        }

        .button_block {
            @include button_block;
        }

        .content_staff {
            position: relative;
            max-width: 1280px;
            width: 100%;
            padding: 0 80px;
            display: flex;
            align-items: center;

            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        color: #606060;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 150%;
                        color: $orange_color;

                        .img_slide {
                            background-color: $light_grey_color;
                            aspect-ratio: 1/1;
                            border-radius: 999px;
                            
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 999px;
                                &:hover{
                                    box-shadow: 0 5px 15px 0 $orange_color;
                                }
                            }
                        }

                        .title_slide {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            align-items: center;
                            padding: 16px 20px 0px;

                            .title_slide_line2 {
                                color: black;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            .swiper-button-prev {
                position: absolute;
                color: $orange_color;
                width: 16px;
                left: 10px;
            }

            .swiper-button-next {
                color: $orange_color;
                width: 16px;
                position: absolute;
                right: 10px;
            }
        }
    }
}