$orange_color: #F67600;
$red_color: #DD1D1D;
$light_yellow_color: #FFF09F;
$light_grey_color: #D9D9D9;
$light_yellow_background_color: #FEF8E9;
$font_noto_sans_jp: "Noto Sans JP", sans-serif;
$font_roboto: "Roboto", sans-serif;
$font_oswald: "Oswald", sans-serif;