.voice {
    width: 100%;
    padding: 0 40px;

    .container {
        max-width: 1360px;
        background-color: $light_yellow_background_color;
        border-radius: 24px;
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;

        .title_block {
            @include title_3_element;
        }

        .button_block {
            @include button_block;
        }

        .content_voice {
            position: relative;
            max-width: 1280px;
            width: 100%;
            padding: 0 80px;
            display: flex;
            align-items: center;
            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        color: #606060;
                        font-size: 13px;
                        font-weight: 400;
                        line-height: 150%;
                        
                        .img_slide {
                            background-color: $light_grey_color;
                            border-radius: 16px;
                            aspect-ratio: 3/2;

                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 16px;
                                &:hover{
                                    box-shadow: 0 5px 15px -5px $orange_color;
                                }
                            }
                        }

                        .title_slide {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;

                            .title_slide_line2 {
                                color: $orange_color;
                                font-size: 16px;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            .swiper-button-prev {
                position: absolute;
                color: $orange_color;
                width: 16px;
                left: 10px;
            }

            .swiper-button-next {
                color: $orange_color;
                width: 16px;
                position: absolute;
                right: 10px;
            }
        }
    }
}